# See http://pip-installer.org/requirement-format.html for more information.

Django==1.4.1
django-celery
boto
django-debug-toolbar
django-staticfiles==1.1.2
django_compressor==1.1.2
python-memcached
mysql-python
django-filebrowser==3.4.2
hamlpy
pygments
PIL==1.1.7
pysolr==2.1.0-beta
django-autoslug==1.5.0
South==0.7.3
sorl-thumbnail==11.12
https://github.com/sehmaschine/django-grappelli/zipball/grappelli_2_4
https://github.com/hcarvalhoalves/django-taggit/zipball/master
https://github.com/feuervogel/django-taggit-templatetags/zipball/master
django-pagination
django-avatar
django-storages
raven
django-mptt
DjangoSEO
djutils
django-tinymce
django-polymorphic
https://github.com/jsocol/bleach/zipball/v1.1.1
git+ssh://git@github.com/hub-nl/django-collector.git@master
git+ssh://git@github.com/hub-nl/django-hub-apps.git@master
https://github.com/Docc/django-share/zipball/master
https://github.com/alex/django-ajax-validation/zipball/master
https://github.com/tzangms/django-bootstrap-form/zipball/master

#git+ssh://git@github.com/Optixdesigns/django-shop.git@master
git+ssh://git@github.com/Optixdesigns/django-shop-odin.git@master
https://github.com/alex/django-filter/zipball/master

# Still in alpha
https://github.com/mirumee/satchless/zipball/master